.container {
  padding: 20px;
}
.intro {
  margin: auto;
  margin-bottom: 100px;
  background: {
    image: url('../../../assets/img/arreglo-floral-8.jpg');
    size: cover;
    position: center;
  };
  height: 620px;
  max-width: 1500px;
  display: grid;
  place-items: center;

  &__content {
    margin: 20px;
    padding: 10px;
    background-color: #ffffffcd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-size: 36px;
  line-height: 48px;
}

.subtitle {
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 35px;
}

.introduction {
  text-align: center;
  max-width: 800px;
  margin: auto;

  &__heading-wrap {
    margin-bottom: 60px;
  }

  &__description {
    font-size: 14px;
    opacity: 0.6;
    margin-top: 60px;
    margin-bottom: 150px;
  }
}

.divider {
  height: 1px;
  background-color: #eee;
}
