<div class="container animate__animated animate__fadeIn">
  <div class="intro-header">
    <div class="intro-header__content">
      <div class="intro-header__title">Descubre toda nuestra variedad de productos</div>
      <span class="intro-header__subtitle">Hermosos artículos para decorar tu hogar</span>
      <a routerLink="/productos" class="button button--dark">
        EXPLORAR
      </a>
    </div>
  </div>

  <div class="introduction">
    <div class="introduction__heading-wrap">
      <div class="heading">Arte decorativo</div>
      <div class="subtitle">
        Productos que le dan un toque original al brillo de la naturaleza
      </div>
    </div>

    <div class="divider"></div>
    <div class="introduction__description">
      Elaboramos a gusto del cliente típicos y originales trabajos artesanales con frutos secos de la región, entre ellos: cortinas, paneras, servilleteros, lámparas, pantallas, arreglos florales, llaveros y para navidad arbolitos de escritorio y coronas.
    </div>
  </div>
</div>
