<div class="container animate__animated animate__fadeIn">
  <div class="intro">
    <div class="intro__content">
      <div class="title">Descubre toda nuestra variedad de productos</div>
      <span class="subtitle">Hermosos artículos para decorar tu hogar</span>
      <a routerLink="/productos" class="button button--dark">
        EXPLORAR
      </a>
    </div>
  </div>

  <div class="introduction">
    <div class="introduction__heading-wrap">
      <div class="title">Encabezado</div>
      <div class="subtitle">
        Consectetur velit velit minus alias magnam Veritatis ea quo quidem voluptatem ea Repudiandae voluptatum quos tenetur reiciendis magnam Minus in deleniti sit fuga natus Temporibus itaque perspiciatis culpa perferendis voluptate.
      </div>
    </div>

    <div class="divider"></div>
    <div class="introduction__description">
      Lorem commodi veritatis facilis accusantium velit. Repellendus inventore labore quisquam praesentium nobis illo Aliquid odit earum perferendis quibusdam repudiandae Praesentium voluptate consequatur fuga quos consectetur. Optio et enim libero omnis
    </div>
  </div>
</div>
