<div class="container animate__animated animate__fadeIn">
  <div class="header">
    <p class="title">Nuestros Productos</p>
  </div>

  <div class="button-wrap">
    <a
      class="button button--dark"
      href="https://www.facebook.com/Entre-tarcos-y-choloncas-en-mi-chura-Tarija-113498483768763/shop"
      target="_blank">
      Visitar tienda en Facebook
    </a>
  </div>

  <div class="products">
    <div class="product" *ngFor="let product of products; let i = index">
      <img
        [ngClass]="['lazyload']"
        [attr.data-src]="'assets/img/productos/'+product.fileName"
        src="assets/img/no-image.png"
        class="product__img"
        [alt]="product.label">
      <span class="product__label" (click)="selectedProduc = product">
        Ampliar
      </span>
    </div>
  </div>

  <div
    class="lightbox"
    [ngClass]="{'lightbox--active': product.fileName === selectedProduc?.fileName}"
    *ngFor="let product of products; let i = index">
    <div class="lightbox__content">
      <img
        [ngClass]="{'lazyload': selectedProduc?.fileName === product.fileName}"
        [attr.data-src]="'assets/img/productos/'+product.fileName"
        src="assets/img/no-image.png"
        class="lightbox__img"
        [alt]="product.label">
      <div class="lightbox__title">
        {{ product.label | titlecase }}
        <a
          class="ver-mas"
          href="https://www.facebook.com/Entre-tarcos-y-choloncas-en-mi-chura-Tarija-113498483768763/shop"
          target="_blank">
          Ver más
        </a>
      </div>
      <span class="lightbox__close" (click)="selectedProduc = undefined"></span>
    </div>
  </div>
</div>
