<div class="container">
  <div class="logo-link">
    <a routerLink="/inicio">
      <img class="logo-link__img" src="assets/img/logo.svg" alt="logo">
    </a>
  </div>
  <ng-container *ngFor="let section of sections">
    <div class="label">
      {{ section.label }}
    </div>
    <div class="links">
      <div class="link" *ngFor="let link of section.links">
        <fa-icon class="link__icon" *ngIf="link.prefix" [icon]="link.prefix"></fa-icon>
        <a
          *ngIf="link.url else aPath"
          class="link__url"
          [href]="link.url"
          target="_blank">
          {{ link.text }}
        </a>
        <ng-template #aPath>
          <a
            class="link__url"
            [routerLink]="link.path">
            {{ link.text }}
          </a>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
