<div class="container animate__animated animate__fadeIn">
  <div class="intro-header">
  </div>

  <div class="intro-header__title">
    Declaración artística
  </div>

  <div class="divider"></div>

  <div class="declaracion-artistica">
    <p>
      AL RECORRER LOS SENDEROS EN MI MEMORIA, RECONOZCO AQUELLA ETAPA MAS HERMOSA DE MI INFANCIA, ESA INEVITABLE CONVIVENCIA CON LA PRODIGIOSA  NATURALEZA DE MI VALLE CHAPACO EN QUE FUI BENDECIDA AL DISFRUTARLO INTENSAMENTE, CUANDO  EN MIS MOMENTOS DE OCIO EL LUGAR MEJOR ELEGIDO FUE MI CAMPO VERDE LLENO DE ARBOLES MAJESTUOSOS Y FRUTOS DIVINOS 
    </p>
    <p>
      NIÑA TRAVIESA, LIBRE Y CURIOSA FUI, Y ENCONTRE EN ESE ESCENARIO LOS JUGUETES MÁS SINGULARES, AQUELLOS QUE NO SE COMPRAN, SINO, SIMPLEMENTE SE TOMAN DE LA NATURALEZA Y TE DIVIERTEN DE TODA FORMA. ES CUANDO IMAGINO ESOS FRUTOS SECOS COMO LOS TARCOS (JACARANDÁ) Y CHOLONCAS (CHURQUI)  QUE ADQUIRIEREN  UN PROPÓSITO  QUE QUIERO MOSTRARLO: QUE POR SU FORMA, TEXTURA Y COLOR ME INSPIRARON A SOÑAR CON CREACIONES ARTESANALES. 
    </p>
    <p>
      ES ASI QUE MI ALMA SE REGOCIJA CUANDO IMAGINO Y DISEÑO MIS PRODUCTOS COMO LAS PANERAS, SERVILLETEROS, CORTINAS, PANTALLAS, ARREGLOS FLORALES Y OTROS CONVERTIDOS EN ARTE DECORATIVO, PENSANDO EN LOS NIÑOS, EN EL HOGAR, EN LOS MOMENTOS MARAVILLOSOS DE LA VIDA DONDE SE TRANSMITA ALEGRIA, BELLEZA, ARTE, Y PODER PALPAR Y SENTIR DE CERCA LO QUE NUESTRA AMADA TIERRA NOS PROVEE. 
    </p>
    <p>
      QUERENDONA A LA TIERRA QUE ME VIO NACER,  DESEO APORTAR A LA CULTURA TARIJEÑA, Y MOSTRAR TARIJA AL MUNDO CON VERDADERO ORGULLO.
    </p>
  </div>
</div>
