<div class="navbar">
  <div class="container">
    <section class="wrapper">
      <a class="logo" routerLink="/inicio" (click)="menuOpen = false">
        <img class="logo__img" [src]="mediaMatches ? 'assets/img/logo.jpg' : 'assets/img/logo-sm.jpg'">
      </a>
      <div
        *ngIf="!mediaMatches"
        class="menu-btn"
        [ngClass]="{'menu-btn--open': menuOpen}"
        (click)="menuOpen = !menuOpen">
        <div class="menu-btn__burger"></div>
      </div>
      <div
        #menu
        [ngClass]="{'menu--open': menuOpen}"
        *ngIf="!mediaMatches"
        [style.maxHeight.px]="menuOpen ? menu.scrollHeight : 0"
        class="menu">
        <ul class="menu__inner">
          <li class="menu__item" *ngFor="let listItem of listItems">
            <a
              [routerLink]="listItem.path"
              routerLinkActive="menu__link--active"
              (click)="menuOpen = false"
              class="menu__link">
              {{ listItem.text }}
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
