.navbar {
  margin: 0 auto 60px auto;
  padding: 20px;
  max-width: 1200px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  &__img {
    height: 60px;
  }
}

.menu-btn {
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;

  &__burger {
    width: 40px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .25s ease-in-out;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 6px;
      background: #000;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .25s ease-in-out;
    }

    &::before {
      transform: translateY(-16px);
    }

    &::after {
      transform: translateY(16px);
    }
  }
}

.menu-btn--open .menu-btn__burger {
  transform: translateX(100%);
  background: transparent;
  box-shadow: none;
}

.menu-btn--open .menu-btn__burger::before {
  transform: translateX(-100%) rotate(45deg);
}

.menu-btn--open .menu-btn__burger::after {
  transform: translateX(-100%) rotate(-45deg);
}

.menu {
  width: 100%;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 350ms;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 16px 30px;
    color: #43464d;
    opacity: 0.6;
    transition: color 200ms, opacity 200ms, background-color;

    &:hover {
      color: #000;
      opacity: 1;
      text-decoration: underline;
      background-color: #f7f7f7;
    }
  }

  &__link--active {
    color: #000;
    opacity: 1;
  }
}

.menu--open {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar {
    padding: 30px 50px;
    box-shadow: none;
  }

  .wrapper {
    justify-content: flex-start;
  }

  .logo {
    margin: 0 auto;

    &__img {
      height: auto;
      width: 350px;
    }
  }

  .menu {
    visibility: visible;
    opacity: 1;

    &__inner {
      flex-direction: row;
      justify-content: flex-end;
    }

    &__link {
      &:hover {
        background-color: #fff;
      }
    }
  }
}
